{% extends 'simple_page/base.html' %}

{% block content %}
<div class="text-center">
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <img class="mb-4" src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Enter GitHub Name</h1>
        <label for="{{ form.name.id_for_label }}" class="sr-only">Email address</label>
        {{ form.name }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}